#Ignorar archivos de compilacion, depuracion.
*.log
*.tmp
*.swp

# Ignorar carpetas para main
install/
build/
build/Debug
bin/
.vscode/
.vscode-test/
GDD/TEMPEST.odt

# Ignorar archivos del sistema
commands.txt
.DS_Store
Doxyfile
valgrinf-log.txt