#Ignorar archivos de compilacion, depuracion.
*.log
*.tmp
*.swp

# Ignorar carpetas para main
install/
build/
build/Debug
bin/
.vscode/
.vscode-test/

# Ignorar archivos del sistema
comands.txt
.DS_Store
Doxyfile
valgrinf-log.txt